<a href="https://colab.research.google.com/github/lukasagurkas/HealthRaceApp/blob/master/OLS_LinReg_cleaned.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Reading the data

In [1]:
import pandas as pd
import numpy as np

url_transactions = 'https://drive.google.com/file/d/11HedlzHhHPcwQ9U8CHNVUKlB9mrEwiVK/view?usp=sharing'
path_transactions = 'https://drive.google.com/uc?export=download&id='+url_transactions.split('/')[-2]
df_transactions = pd.read_csv(path_transactions)

url_promotions = 'https://drive.google.com/file/d/1A-vU0zzlcuVnDKyvHLqJjPGg72hM709O/view?usp=sharing'
path_promotions = 'https://drive.google.com/uc?export=download&id='+url_promotions.split('/')[-2]
df_promotions = pd.read_csv(path_promotions)

url_products = 'https://drive.google.com/file/d/1KVGV3EoB3Z44-byGBcoyX6X6e9SoPjCH/view?usp=sharing'
path_products = 'https://drive.google.com/uc?export=download&id='+url_products.split('/')[-2]
df_products = pd.read_csv(path_products)

url_inventory = 'https://drive.google.com/file/d/1ia8BZQfOp7e3uJm9F4WL7BbIJAoJDSQn/view?usp=sharing'
path_inventory = 'https://drive.google.com/uc?export=download&id='+url_inventory.split('/')[-2]
df_inventory = pd.read_csv(path_inventory)

## Transactions

In [ ]:
df_transactions

               day      time  customer  ...  purchase_price  bio basic
0         1/1/2018   9:07:00       0.0  ...            1.79  0.0   0.0
1         1/1/2018   9:07:00       0.0  ...            1.08  0.0   0.0
2         1/1/2018   9:07:00       0.0  ...            1.99  NaN   0.0
3         1/1/2018   9:07:00       0.0  ...            2.42  0.0   0.0
4         1/1/2018   9:07:00       0.0  ...            2.12  1.0   0.0
...            ...       ...       ...  ...             ...  ...   ...
354860  30-12-2018  20:59:33   20685.0  ...            3.69  0.0   0.0
354861  30-12-2018  20:59:33   20685.0  ...            2.99  1.0   0.0
354862  30-12-2018  20:59:33   20685.0  ...            3.19  0.0   0.0
354863  30-12-2018  20:59:33   20685.0  ...            2.49  0.0   0.0
354864  30-12-2018  20:59:33   20685.0  ...            2.09  0.0   0.0

[354865 rows x 12 columns]

In [ ]:
df_transactions.describe()

### Data preprocessing

In [2]:
#Droping rows with Nan value in columns day, time, purchase_price, customer and product_id

df_transactions.dropna(subset= ['day', 'time', 'purchase_price','customer', 'product_id'],inplace = True)

### Linear Regression (dependent variable - quanitity purchased per week per product; independent variable - price of all products per week)

In [4]:
df_nrOfPromotionsPerProduct = df_promotions.groupby(by=[('product_id')]).count()
df_nrOfPromotionsPerProduct

            week  category  description  discount
product_id
b_1            5         5            5         5
b_10           5         5            5         5
b_11           6         6            6         6
b_12           7         7            7         7
b_13           7         7            7         7
...          ...       ...          ...       ...
v_5            5         5            5         5
v_6            8         8            8         8
v_7            4         4            4         4
v_8            7         7            7         7
v_9           10        10           10        10

[152 rows x 4 columns]

In [5]:
df_nrOfPromotionsPerProduct.describe()

             week    category  description    discount
count  152.000000  152.000000   152.000000  152.000000
mean     5.131579    5.131579     5.131579    5.131579
std      2.067357    2.067357     2.067357    2.067357
min      1.000000    1.000000     1.000000    1.000000
25%      4.000000    4.000000     4.000000    4.000000
50%      5.000000    5.000000     5.000000    5.000000
75%      6.000000    6.000000     6.000000    6.000000
max     14.000000   14.000000    14.000000   14.000000

In [6]:
df_nrOfPromotionsPerProduct = df_nrOfPromotionsPerProduct.reset_index()
df_nrOfPromotionsPerProduct

    product_id  week  category  description  discount
0          b_1     5         5            5         5
1         b_10     5         5            5         5
2         b_11     6         6            6         6
3         b_12     7         7            7         7
4         b_13     7         7            7         7
..         ...   ...       ...          ...       ...
147        v_5     5         5            5         5
148        v_6     8         8            8         8
149        v_7     4         4            4         4
150        v_8     7         7            7         7
151        v_9    10        10           10        10

[152 rows x 5 columns]

In [7]:
# We want to remove the products with a low number of discounts because they
# negatively affect the OLS data
productsWithGoodAmountOfDiscounts = []

for index, row in df_nrOfPromotionsPerProduct.iterrows():
  if row['week'] >= 5:
    productsWithGoodAmountOfDiscounts.append(row['product_id'])

In [8]:
len(productsWithGoodAmountOfDiscounts)

93

In [9]:
for index, row in df_products.iterrows():
  if row['product_id'] not in productsWithGoodAmountOfDiscounts:
    df_products.drop([index], inplace=True)

df_products

      category product_id  ... bio basic
1    vegetable        v_2  ...   0     0
3    vegetable        v_4  ...   0     0
4    vegetable        v_5  ...   0     0
5    vegetable        v_6  ...   0     0
7    vegetable        v_8  ...   0     1
..         ...        ...  ...  ..   ...
150      snack        s_4  ...   0     1
151      snack        s_5  ...   0     0
152      snack        s_6  ...   0     1
153      snack        s_7  ...   0     1
154      snack        s_8  ...   0     0

[93 rows x 7 columns]

In [10]:
for index, row in df_transactions.iterrows():
  if row['product_id'] not in productsWithGoodAmountOfDiscounts:
    df_transactions.drop([index], inplace=True)

df_transactions

               day      time  customer  ...  purchase_price  bio basic
0         1/1/2018   9:07:00       0.0  ...            1.79  0.0   0.0
2         1/1/2018   9:07:00       0.0  ...            1.99  NaN   0.0
3         1/1/2018   9:07:00       0.0  ...            2.42  0.0   0.0
6         1/1/2018   9:07:00       0.0  ...            3.07  0.0   0.0
9         1/1/2018   9:07:00       0.0  ...            2.19  0.0   0.0
...            ...       ...       ...  ...             ...  ...   ...
354860  30-12-2018  20:59:33   20685.0  ...            3.69  0.0   0.0
354861  30-12-2018  20:59:33   20685.0  ...            2.99  1.0   0.0
354862  30-12-2018  20:59:33   20685.0  ...            3.19  0.0   0.0
354863  30-12-2018  20:59:33   20685.0  ...            2.49  0.0   0.0
354864  30-12-2018  20:59:33   20685.0  ...            2.09  0.0   0.0

[236809 rows x 12 columns]

In [11]:
df_transactions.to_csv('transactionsWithoutProductsWithFewDiscounts.csv')

In [17]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Initializing result array
d = {'product_id': df_products['product_id']} # Dictionary with all products
df_linreg_results = pd.DataFrame(data=d) # DataFrame where results will be stored

# Iterating through each product
for index, row_1 in df_products.iterrows():

  # Quanitity of product (with product_id == row_1['product_id']) purchased per 
  # week (the duration of promotions) (y), the dependent variable
  df_temp_1 = df_transactions[df_transactions['product_id'] == row_1['product_id']].copy()
  df_temp_1['day'] = pd.to_datetime(df_temp_1['day'])
  df_temp_2 = df_temp_1.resample('W', on = 'day').product_id.count()
  df_temp_2 = df_temp_2.to_frame()
  y = np.array(np.log(df_temp_2['product_id']))

  # Initialization of array of independent variables (x) with the first product
  # ('v_1'), the independent variables are purchase prices of each product per 
  # week (the duration of promotions)
  df_temp_3 = df_transactions[df_transactions['product_id'] == 'v_2'].copy()
  df_temp_3['day'] = pd.to_datetime(df_temp_3['day'])
  df_temp_4 = df_temp_3.resample('W', on = 'day').purchase_price.median()
  df_temp_4 = df_temp_4.to_frame()
  x = np.array(np.log(df_temp_4['purchase_price']))

  # Putting the rest of the independent variables in array x
  for index, row_2 in df_products.iterrows():
    if (row_2['product_id'] != 'v_2'):
      df_temp_5 = df_transactions[df_transactions['product_id'] == row_2['product_id']].copy()
      df_temp_5['day'] = pd.to_datetime(df_temp_5['day'])
      df_temp_6 = df_temp_5.resample('W', on = 'day').purchase_price.median()
      df_temp_6 = df_temp_6.to_frame()
      x1 = np.array(np.log(df_temp_6['purchase_price']))
      x = np.column_stack((x, x1))

  #x_train, x_test, y_train, y_test = train_test_split(x, y)

  linreg_model = LinearRegression(normalize=True).fit(x, y)
  linreg_prediction = linreg_model.predict(x)
  #linreg_mae = np.mean(np.abs(y_test - linreg_prediction))

  # Storing the Linear Regression model's coefficients for every product
  df_linreg_results[row_1['product_id']] = linreg_model.coef_

df_linreg_results

    product_id       v_2       v_4  ...       s_6       s_7       s_8
1          v_2 -1.721601  3.686607  ... -0.621712  1.091527  0.916494
3          v_4 -0.029465 -0.836390  ... -0.968862 -0.128142 -0.277907
4          v_5  0.119860 -0.188876  ...  0.779265 -0.451322  0.405758
5          v_6  0.392678  0.883562  ... -0.427171  0.452241 -0.138249
7          v_8  0.045753  0.012109  ...  0.279820 -0.066705  0.084125
..         ...       ...       ...  ...       ...       ...       ...
150        s_4  0.354114  1.902898  ...  0.649031  1.162848  0.095228
151        s_5  0.285445 -1.143786  ...  0.014394 -0.111231  0.134179
152        s_6 -0.328749  0.428091  ... -0.623746  0.186838 -0.084190
153        s_7 -0.204645  1.282964  ...  0.829829 -0.908475  0.284631
154        s_8 -0.108036  0.458493  ...  0.631434  0.032766 -0.503358

[93 rows x 94 columns]

In [18]:
df_linreg_results.to_csv('linreg_all_products_cleaned.csv')

In [19]:
df_linreg_results.reindex(df_linreg_results.v_2.abs().sort_values().index)

    product_id       v_2       v_4  ...       s_6       s_7       s_8
94        m_30  0.000118 -0.164467  ...  0.679046 -0.060607  0.716750
130       b_25  0.000944  0.833728  ...  0.158096  0.068451  0.138500
137       b_32  0.005685  0.025680  ...  0.863129 -0.028537  0.581113
25        v_26  0.006720  0.425373  ... -0.094109  0.661183  0.020519
84        m_20  0.013317  0.778058  ...  0.769016  0.225123  0.402103
..         ...       ...       ...  ...       ...       ...       ...
44        f_10  1.054320 -0.453151  ... -0.229169  0.307620 -0.286350
143       b_38  1.428728  0.002137  ...  2.043750  0.274597  0.139204
97        m_33 -1.621359 -3.982246  ... -0.845913 -1.590102  0.236869
1          v_2 -1.721601  3.686607  ... -0.621712  1.091527  0.916494
93        m_29 -2.530509  0.323115  ... -1.739364 -0.094492 -0.439040

[93 rows x 94 columns]

In [20]:
df_temp = pd.read_csv('linreg_all_products_cleaned.csv')

In [ ]:
df_temp.reindex(df_temp.v_1.abs().sort_values().index)

#### Top 5 positive coefficients

In [21]:
df_temp_describe = df_temp.describe()
max_values_0 = df_temp_describe.iloc[7].to_numpy()
max_values = np.sort(max_values_0)
index_min = max_values.size-6
index_max = max_values.size-1
max_values = max_values[index_min: index_max]

df_temp_describe_max = df_temp_describe.iloc[7]
columns_max_values = []
for a in max_values:
  for i in df_temp_describe.iloc[7].index:
    if df_temp_describe_max[i] == a:
      columns_max_values.append(i)

df_temp_1 = df_temp.set_index('product_id')

rows_max_values = []

for a in range(max_values.size):
  for index, row in df_temp_1.iterrows():
    if (row[columns_max_values[a]] == max_values[a]):
      rows_max_values.append(index)

max_values, columns_max_values, rows_max_values

(array([ 4.20051903,  4.85146453,  5.63817394,  7.12512519, 10.81267263]),
 ['b_2', 'm_8', 'm_32', 'm_17', 'm_37'],
 ['m_29', 'm_29', 'b_38', 'b_38', 'b_19'])

#### Top 5 negative coefficients

In [22]:
df_temp_describe = df_temp.describe()
min_values_0 = df_temp_describe.iloc[3].to_numpy()
min_values = np.sort(min_values_0)
index_min = 0
index_max = 5
min_values = min_values[index_min: index_max]

df_temp_describe_min = df_temp_describe.iloc[3]
columns_min_values = []
for a in min_values:
  for i in df_temp_describe.iloc[3].index:
    if df_temp_describe_min[i] == a:
      columns_min_values.append(i)

df_temp_1 = df_temp.set_index('product_id')

rows_min_values = []

for a in range(min_values.size):
  for index, row in df_temp_1.iterrows():
    if (row[columns_min_values[a]] == min_values[a]):
      rows_min_values.append(index)

min_values, columns_min_values, rows_min_values

(array([-7.69092465, -5.98266214, -5.43871078, -5.14189124, -5.08924056]),
 ['m_17', 'm_29', 'b_19', 'm_14', 'm_1'],
 ['m_29', 'm_29', 'm_29', 'm_29', 'm_29'])

#### Linear regression for top negative and positive relations of the Lasso model

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Most significant positive relations of the lasso model
columns_max_values_lasso = ['v_16', 'b_14', 'm_38', 'm_15', 'm_9']
rows_max_values_lasso = ['b_8', 'm_29', 'v_11', 'f_26', 'b_29']

# Most significant negative relations of the lasso model
columns_min_values_lasso = ['m_27', 's_4', 's_2', 'v_22', 'f_7']
rows_min_values_lasso = ['b_23', 'b_37', 'v_10', 'v_22', 'v_25']

row_index = rows_max_values_lasso + rows_min_values_lasso

column_index = columns_max_values_lasso + columns_min_values_lasso

# Initializing result array
d = {'product_id': row_index} # Dictionary with dependent variables which had
                      # the biggest and smallest coefficients in the Lasso model
df_linreg_results = pd.DataFrame(data=d) # DataFrame where results will be stored

# Iterating through each product in column_index
for i in column_index:

  # Quanitity of product (with product_id == row_1['product_id']) purchased per 
  # week (the duration of promotions) (y), the dependent variable
  df_temp_1 = df_transactions[df_transactions['product_id'] == i].copy()
  df_temp_1['day'] = pd.to_datetime(df_temp_1['day'])
  df_temp_2 = df_temp_1.resample('W', on = 'day').product_id.count()
  df_temp_2 = df_temp_2.to_frame()
  y = np.array(np.log(df_temp_2['product_id']))

  # Initialization of array of independent variables (x) with the first product
  # ('b_8'), the independent variables are purchase prices of each product per 
  # week (the duration of promotions)
  df_temp_3 = df_transactions[df_transactions['product_id'] == 'b_8'].copy()
  df_temp_3['day'] = pd.to_datetime(df_temp_3['day'])
  df_temp_4 = df_temp_3.resample('W', on = 'day').purchase_price.median()
  df_temp_4 = df_temp_4.to_frame()
  x = np.array(np.log(df_temp_4['purchase_price']))

  # Putting the rest of the independent variables in array x
  for j in row_index:
    if (j != 'b_8'):
      df_temp_5 = df_transactions[df_transactions['product_id'] == j].copy()
      df_temp_5['day'] = pd.to_datetime(df_temp_5['day'])
      df_temp_6 = df_temp_5.resample('W', on = 'day').purchase_price.median()
      df_temp_6 = df_temp_6.to_frame()
      x1 = np.array(np.log(df_temp_6['purchase_price']))
      x = np.column_stack((x, x1))

  x_train, x_test, y_train, y_test = train_test_split(x, y)

  linreg_model = LinearRegression(normalize=True).fit(x_train, y_train)
  linreg_prediction = linreg_model.predict(x_test)
  linreg_mae = np.mean(np.abs(y_test - linreg_prediction))

  # Storing the Linear Regression model's coefficients for every product
  df_linreg_results[i] = linreg_model.coef_

df_linreg_results

  product_id       v_16      b_14  ...       s_2      v_22       f_7
0        b_8   0.295924  0.945963  ... -0.224715  0.082377  0.223449
1       m_29   2.522670  2.433598  ... -0.063090  1.903698 -0.930058
2       v_11  -3.144759 -3.237714  ... -1.268280  3.253747  3.236080
3       f_26   0.462603 -0.165374  ...  0.126484 -0.328125  1.146994
4       b_29  -0.293697 -0.077221  ...  0.557760  0.602972 -0.303854
5       b_23  -0.647004 -0.627632  ... -3.732777 -4.050081  3.458135
6       b_37  22.643243  0.831179  ... -3.611640  1.193350  1.639046
7       v_10   1.741536  0.578246  ... -0.123430 -0.435380  1.770376
8       v_22   0.541425 -0.327002  ...  0.690880 -2.197378 -0.346618
9       v_25  -0.829024  0.185453  ... -0.098139  0.178264 -1.221560

[10 rows x 11 columns]

In [ ]:
df_linreg_results.to_csv('linreg_top_lasso_products.csv')

In [ ]:
df_linreg_results.reindex(df_linreg_results.v_2.abs().sort_values().index)

### Linear Regression method (dependent variable - quanitity purchased per week per product; independent variable - price of products per category per week)

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# foreach product in category category
for i in df_products.category.unique():

  # Initializing result array
  df_products_category_products = df_products[df_products['category'] == i]
  # Dictionary within the current category
  d = {'product_id': df_products_category_products['product_id']}
  df_linreg_results = pd.DataFrame(data=d) # DataFrame where results will be stored
  df_linreg_results = df_linreg_results.reset_index()
  df_linreg_results = df_linreg_results[['product_id']]

  # Iterating through each product in the category
  for index, row_1 in df_linreg_results.iterrows():

    # Quanitity of product (with product_id == row_1['product_id']) purchased per 
    # week (the duration of promotions) (y), the dependent variable
    df_temp_1 = df_transactions[df_transactions['product_id'] == row_1['product_id']].copy()
    df_temp_1['day'] = pd.to_datetime(df_temp_1['day'])
    df_temp_2 = df_temp_1.resample('W', on = 'day').product_id.count()
    df_temp_2 = df_temp_2.to_frame()
    y = np.array(np.log(df_temp_2['product_id']))

    # Initialization of array of independent variables (x) with the product being
    # investeigated, the independent variables are purchase prices of each product per 
    # week (the duration of promotions)
    df_temp_3 = df_transactions[df_transactions['product_id'] == row_1['product_id']].copy()
    df_temp_3['day'] = pd.to_datetime(df_temp_3['day'])
    df_temp_4 = df_temp_3.resample('W', on = 'day').purchase_price.median()
    df_temp_4 = df_temp_4.to_frame()
    x = np.array(np.log(df_temp_4['purchase_price']))

    # Putting the rest of the independent variables in array x
    for index, row_2 in df_linreg_results.iterrows():
      if (row_2['product_id'] != row_1['product_id']):
        df_temp_5 = df_transactions[df_transactions['product_id'] == row_2['product_id']].copy()
        df_temp_5['day'] = pd.to_datetime(df_temp_5['day'])
        df_temp_6 = df_temp_5.resample('W', on = 'day').purchase_price.median()
        df_temp_6 = df_temp_6.to_frame()
        x1 = np.array(np.log(df_temp_6['purchase_price']))
        x = np.column_stack((x, x1))

    x_train, x_test, y_train, y_test = train_test_split(x, y)

    linreg_model = LinearRegression(normalize=True).fit(x_train, y_train)
    linreg_prediction = linreg_model.predict(x_test)
    linreg_mae = np.mean(np.abs(y_test - linreg_prediction))

    # Storing the Linear Regression model's coefficients for every product
    df_linreg_results[row_1['product_id']] = linreg_model.coef_

    if i == 'vegetable':
      df_vegetable_linreg = df_linreg_results
      df_vegetable_linreg.to_csv('vegetable_linreg.csv')
    elif i == 'fruit':
      df_fruits_linreg = df_linreg_results
      df_fruits_linreg.to_csv('fruits_linreg.csv')
    elif i == 'meat':
      df_meat_linreg = df_linreg_results
      df_meat_linreg.to_csv('meat_linreg.csv')
    elif i == 'bread':
      df_bread_linreg = df_linreg_results
      df_bread_linreg.to_csv('bread_linreg.csv')
    elif i == 'snack':
      df_snack_linreg = df_linreg_results
      df_snack_linreg.to_csv('snack_linreg.csv')

df_vegetable_linreg

   product_id         v_1         v_2  ...        v_33          v_34          v_35
0         v_1   -1.113587   -1.100610  ...   -3.198191  6.621586e+15     -0.796502
1         v_2    1.669536    1.138704  ...   -0.304442 -9.514127e-01     -0.050688
2         v_3   -2.759244   -0.734837  ...   -5.335363  6.108985e+00     -0.165857
3         v_4   16.257255    2.299906  ...    1.312383  5.403589e+12     42.478348
4         v_5  -33.473043    3.342895  ...    0.896688 -7.872192e+11    291.438847
5         v_6    1.193291    1.181554  ...    2.340448 -5.374945e+12    -38.050269
6         v_7    0.677772   -0.081312  ...    1.120783  6.649674e-01      1.197425
7         v_8   -0.055195    0.538258  ...   10.346454 -7.044354e+12     12.611435
8         v_9   -0.110704   -0.697281  ...   -2.653460 -6.908583e-01     -0.429470
9        v_10   12.538782   -0.867127  ...    0.590212 -2.186710e+00     -1.470521
10       v_11   -1.833046   -7.710994  ...   -0.115980 -5.456602e+12     -7.251989
11       v_12   -1.156828    0.246760  ...   -0.057335 -1.399112e+00     -5.337780
12       v_13    0.181879    2.430538  ...   -0.918578  1.133785e+12     -0.212218
13       v_14    2.228547    0.317087  ...    1.892909  2.020988e+00      3.584001
14       v_15   -0.450604   -0.846489  ...   -0.921403 -1.945319e+00      2.291661
15       v_16 -236.352993   -1.565895  ...   -0.846419  1.784163e+00     -1.276080
16       v_17    3.570274    0.188669  ...    2.801655 -1.063135e+00      0.488453
17       v_18   -0.349888   -0.520359  ...   -8.428776 -2.894402e+12     -3.559500
18       v_19    0.477554    0.655269  ...   -0.167922 -6.932284e-01     -0.531318
19       v_20   -0.647417   -0.349068  ...   -0.677568  1.599205e+00      1.452217
20       v_21  -12.627202   -0.769063  ...    2.735574 -2.009732e-01     -0.144701
21       v_22    0.315952    0.149533  ...    3.420608 -8.035236e+13   -226.865986
22       v_23    1.745828   -0.190319  ...   -0.225604 -4.337643e-02      0.121111
23       v_24    1.757082    1.477010  ...    1.307526  1.988468e+13     25.860916
24       v_25   -1.254380   -1.355830  ...    1.756518 -6.807347e-02      1.268149
25       v_26   17.351486   -0.747876  ...   -1.830255 -1.587372e+00     -1.274779
26       v_27  -10.564555    0.935993  ...   -0.191866  1.021152e+14    290.163184
27       v_28    0.280373   -0.128089  ...   -1.915948  1.523651e+13   -182.679853
28       v_29    0.767834    0.104949  ...    0.457681 -1.006490e+00     -0.345959
29       v_30   -3.065119  -10.998307  ...    3.122745  7.707194e-01      0.602699
30       v_31   -1.478119    0.133021  ...   -3.637562 -2.213469e+13   -172.756578
31       v_32    1.027278   -0.281621  ...    0.612794  1.421456e+00      0.244666
32       v_33   -1.797881   -0.534255  ...   -0.540972  2.856239e-01     -1.115517
33       v_34 -602.162790  347.640444  ...  451.803928  5.219800e-01     -0.425994
34       v_35   -0.315473    0.052050  ...   -0.222633  3.346080e-01  12855.230513

[35 rows x 36 columns]

In [ ]:
import pandas as pd
df_vegetable_linreg = pd.read_csv('vegetable_linreg.csv')
df_fruits_linreg = pd.read_csv('fruits_linreg.csv')
df_meat_linreg = pd.read_csv('meat_linreg.csv')
df_bread_linreg = pd.read_csv('bread_linreg.csv')
df_snack_linreg = pd.read_csv('snack_linreg.csv')

FileNotFoundError: ignored

## Promotions

In [ ]:
df_promotions.head()

   week   category product_id               description  discount
0     1  vegetable       v_14      Biologische knoflook        30
1     1  vegetable        v_2                 Courgette         5
2     1  vegetable       v_16  Biologische kikkererwten        10
3     1  vegetable       v_12     Biologische courgette        15
4     1      bread       b_41           Chinois brioche        30

In [ ]:
df_promotions.describe()

## Products

In [ ]:
df_products.head()

    category product_id            description  ... std_sales_price  bio  basic
0  vegetable        v_1              Komkommer  ...            0.69    0      0
1  vegetable        v_2              Courgette  ...            0.75    0      0
2  vegetable        v_3  SnoepVegetable tomaat  ...            1.99    0      0
3  vegetable        v_4            Paprika Mix  ...            1.79    0      0
4  vegetable        v_5                Paprika  ...            0.99    0      0

[5 rows x 7 columns]

In [ ]:
df_products.describe()

       std_sales_price         bio       basic
count       155.000000  155.000000  155.000000
mean          2.080452    0.154839    0.103226
std           1.107832    0.362923    0.305240
min           0.470000    0.000000    0.000000
25%           1.105000    0.000000    0.000000
50%           1.990000    0.000000    0.000000
75%           2.690000    0.000000    0.000000
max           5.890000    1.000000    1.000000

## Inventory

In [ ]:
df_inventory.head()

   day  ...      Doritos sweet chili
0    0  ...                       []
1    0  ...             [(100, 128)]
2    3  ...              [(100, 26)]
3    3  ...  [(100, 26), (103, 128)]
4    7  ...              [(103, 58)]

[5 rows x 157 columns]

In [ ]:
df_inventory.describe()

## Example database style join on columns

In [ ]:
df_merge_transaction_products = pd.merge(df_transactions, df_products, on=['product_id'])
df_merge_transaction_products.head()

        day      time  customer  ...  std_sales_price_y bio_y basic_y
0  1/1/2018   9:07:00       0.0  ...               1.79     0       0
1  1/1/2018   9:59:31       2.0  ...               1.79     0       0
2  1/1/2018  10:16:33       3.0  ...               1.79     0       0
3  1/1/2018  10:25:31       4.0  ...               1.79     0       0
4  1/1/2018  11:05:06       8.0  ...               1.79     0       0

[5 rows x 18 columns]